@import "./puck-color.css";
@import "./puck-typography.css";
@import url("https://rsms.me/inter/inter.css");

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  margin: 0;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: InterVariable, -apple-system, BlinkMacSystemFont, Segoe UI,
      Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol;
  }
}

/* Force override for Puck/Heading module CSS in dark mode */
@media (prefers-color-scheme: dark) {
  .styles_Heading__l1_y9,
  .puck-heading {
    color: #fff !important;
  }
}
